<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/main.css" />
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/public/js/app.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row-fluid clearfix">
				<div class="col-md-4 logo-wrapper">
					<img src="/public/img/logo.png" alt="logo" class="hideMobile"/>
				</div>
			</div>
			<div class="row-fluid clearfix">
				<div class="col-md-10 col-md-offset-1 ">
				
					<nav role="navigation" class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="#" class="navbar-brand"><img src="/public/img/logo-320px.png" alt="logo" class="showMobile" /></a>
						</div>
						<div id="navbarCollapse" class="collapse navbar-collapse">
							<ul class="menu nav navbar-nav">
								<li><a href="#">Christmas</a></li>
								<li><a href="#">Main Meals</a></li>
								<li><a href="#">Puddings</a></li>
								<li><a href="#">Ranges</a></li>
								<li><a href="#">Entertaining</a></li>
								<li><a href="#">Special Diets</a></li>
							</ul>
							<ul class="menu nav navbar-nav navbar-right">
								<li class="special-item"><a href="#">About Us</a></li>
							</ul>
						</div>
					</nav>
				
				<!--
					<ul class="menu clearfix">
						<li><a href="#">Christmas</a></li>
						<li><a href="#">Main Meals</a></li>
						<li><a href="#">Puddings</a></li>
						<li><a href="#">Ranges</a></li>
						<li><a href="#">Entertaining</a></li>
						<li><a href="#">Special Diets</a></li>
						<li class="special-item"><a href="#">About Us</a></li>
					</ul>
				-->
				</div>
			</div>
			<div class="row-fluid clearfix">
				<div class="col-md-10 col-md-offset-1 banner-slides">
					<img src="/public/img/banner-slide.png" alt="banner" />
				</div>
			</div>
			<div class="separator col-md-10 col-md-offset-1 clearfix"></div>
			<div class="row-fluid calc-wrapper clearfix" ng-app>
				<div class="col-md-10 col-md-offset-1" ng-controller="CalculatorController">
					<div class="row-fluid">
						<div class="col-md-2">
							<div class="calc-input {{inputValidationClass}}">
								<input type="text" ng-model="arg1"/>
							</div>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-2">
							<div class="calc-input">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									{{operator.symbol}} <span class="caret-alt"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#" ng-click="operatorClick('sum', '+')">+</a></li>
									<li><a href="#" ng-click="operatorClick('sub', '-')">-</a></li>
									<li><a href="#" ng-click="operatorClick('div', '/')">/</a></li>
									<li><a href="#" ng-click="operatorClick('mul', '*')">*</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-2">
							<div class="calc-input {{inputValidationClass}}">
								<input type="text" ng-model="arg2" />
							</div>
						</div>
						<div class="col-md-1">
							<span class="calc-typo">=</span>
						</div>
						<div class="col-md-2">
							<div class="calc-input {{inputValidationClass}}">
								<input type="text" value="{{result}}" disabled />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="separator col-md-10 col-md-offset-1 clearfix"></div>
			<div class="row-fluid clearfix">
				<div class="col-md-10 col-md-offset-1">
					<div class="row-fluid clearfix">
						<div class="col-md-6 featured-article">
							<img src="/public/img/article1.png" alt="article 1" />
							<div class="caption">
								Featured store: Tumbridge Wells
							</div>
							<div class="separator col-md-12 clearfix"></div>
						</div>
						<div class="col-md-6 featured-article">
							<img src="/public/img/article2.png" alt="article 1" />
							<div class="caption">
								Our cooks: get to know them
							</div>
							<div class="separator col-md-12 clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>