<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/main.css" />
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/public/js/app.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row-fluid">
				<div class="col-md-4 logo-wrapper">
					<img src="/public/img/logo.png" alt="logo" />
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-10 col-md-offset-1 ">
					<ul class="menu clearfix">
						<li><a href="#">Christmas</a></li>
						<li><a href="#">Main Meals</a></li>
						<li><a href="#">Puddings</a></li>
						<li><a href="#">Ranges</a></li>
						<li><a href="#">Entertaining</a></li>
						<li><a href="#">Special Diets</a></li>
						<li class="special-item"><a href="#">About Us</a></li>
					</ul>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-10 col-md-offset-1">
					<img src="/public/img/banner-slide.png" alt="banner" />
				</div>
			</div>
		</div>
	</body>
</html>